* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(290deg, #ffd9d9, #d9fffb);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*
.container {
  display: grid;
  place-items: center;
  height: 100vh;
}*/
#date, #clock, #today {
  display: grid;
  place-content: center;
  border: none;
  /* box-shadow: 50px 50px 10px #717171);*/
  height: 25vh;
  width: 89vw;
  font-size: 3rem;
  font-family: Monospace;
  font-weight: 700;
  font-size: italic;
  border-radius: 3vh;
  margin: 20px;
  color: black;
  background-color: rgba(200, 200, 200, 0.4);
}
@media(min-width: 500px) {
  #date, #clock, #today {
    font-size: 3.5rem;
    height: 30vh;
  }
}